.announcement {
    border: 1px solid rgba(105, 105, 105, 0.652);
    padding:  15px 12px;
    margin: 10px;
    border-radius: 10px;
   }
   
   .announcement h3 {
      font-weight: 500;
   }
   
   .announcement p {
       font-size: .8rem;
       font-weight: 100;
   }
   .announcement-top{
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 10px;
   }
   
   .pin-icon {
       transform: rotate(45deg);
   }
   .pin{
    display: flex;
    justify-content: space-between;
    min-width: 50px;
   }
   
   .pinned {
       display: flex;
       justify-content: space-between;
       align-items: center;
       border: 1px solid #0000001f;
       padding: 16px 10px;
       border-radius: 5px;
       margin-bottom: .5rem;
   }
   .ddd{
       margin-left: 1rem;    
   }
   
   .pinned h3 {
       font-size: 1rem;
   }