.sidebar {
    width: 200px;
    position: relative;
    border-right: 1px solid rgb(146, 146, 146);
    transition: all 0.5s ease;
    height: 90vh;
}
.menu-btn{
    display: none;
}

.sidebar-top {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
   
}

.menu-heading {
    padding: 21px 28px;

}

.menu {
    display: flex;
    justify-content: center;
}

.menu .menu-list {
    list-style: none;
    padding: 0;
    line-height: 2.5;
}
.menu a {
    text-decoration: none;
    color: black;
    padding: 0 12px;
}

.other ul {
    list-style: none;
    line-height: 2.2;
}

.other a {
    text-decoration: none;
    color: black;
}
@media screen and (max-width: 850px) {
    .sidebar {
        position: absolute;
        left: -200px;
        height: 100vh;
        z-index: 100;
        background-color: white;
    }
    .active{
        position: absolute;
        left: 0;
    }
    .menu-btn{
        display: block;
        position:absolute;
        left: 30px;
        top: 30px;
        z-index: 200;
    }
}